body,
html {
    height: 100%;
    margin: 0;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../public/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    margin-bottom: 20px;
    color: #0000ff;
    font-weight: bold;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form label {
    font-weight: bold;
    color: #0000ff;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.login-form button {
    background-color: #ffcc99;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

.login-form button:hover {
    background-color: #ff6347;
}

.login-form a {
    margin-top: 10px;
    display: inline-block;
    color: #0000ff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}